html {
  box-sizing: border-box;
  background-color:#dbd6d0;
}

body {
  margin: 0;
  font-family: sans-serif;
  background-color: #5a5750;
  padding: .25em 0;
}

ul {
  list-style-type: none;
  text-align: center;
  color: #fff;
}

h1 {
  font-family: "Bevan", cursive;
  text-align: center;
  color: #fff;
  display: block;
  margin: .14em 0 0;
}

.box {
  margin: 0;
  padding: 0;
  list-style-type: none;
  text-align: center;
}

.box li {
  display: inline-block;
  margin: .17em 0;
  padding: .75em;
  background-color: #733737;
  border-radius: 4.7px;
  max-width: 20em;
}

.box li:hover {
  background-color: #ff332a;
}

header {
display: block;
margin: 0;
padding: .8em;
background-color: #79766f;
}

a {
  text-decoration: none;
  color: white;
}
*, *::before, *::after {
  box-sizing: inherit;
}
