html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
}

nav {
  display: inline;
  margin: auto;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
  text-align: center;
}

h1 {
  font-family: "Bevan", cursive;
  text-align: center;
}

li {
}

a {
  font-family: sans-serif;
  display: inline-block;
  padding: .5em .75em;
  background-color: #ccc;
  border-radius: 4px;
  color: #000;
  text-decoration: none;
  float: left;
}
